@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6, button, a {
    font-family: "Archivo", sans-serif;
}

body {
    background-color: var(--white);
}